<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250404242314-rth8tsa1vc8gd2il2abmk64jk6pcuo7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250404242314-rth8tsa1vc8gd2il2abmk64jk6pcuo7r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>250404242314-o0e1gmv25d4h70jnv0jtudcns0k05d73.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA84mm9h4vSVroF3WSI7VKjsu2Ks4k_mpE</string>
	<key>GCM_SENDER_ID</key>
	<string>250404242314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.google</string>
	<key>PROJECT_ID</key>
	<string>teenhelper-93c4e</string>
	<key>STORAGE_BUCKET</key>
	<string>teenhelper-93c4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250404242314:ios:1454a816ea3570dbf33e73</string>
</dict>
</plist>